mixin service-faq()
	+b.services-button-block.row.middle-xs&attributes(attributes)
		+e.icon(src='assets/images/qa.png')
		.col-xs
			+e.title Появился вопрос по оформлению документов?
			+e('p').text Ответ есть в нашем F.A.Q.

		+e.button
			+button({
				size: 'big',
				tag: 'a',
				href: jv0
			}) Открыть F.A.Q.

