.services-button-block

	&__bold-text
		display: block
		font-family: $GothamProMedium
		font-size: 21px
		line-height: 1.1
		color: #282828

	&__icon
		margin-x: .5em
		margin-y: 20px

	&__title
		margin-bottom: 11px
		display: block
		font-family: $GothamProBold
		font-size: 24px
		color: #3a3a3a

	&__text
		font-family: $GothamProLight
		font-size: 21px
		line-height: 1.1
		color: #282828

	&__link
		font-size: 21px
		color: #327fd6
		font-family: $GothamProMedium

	&__text-18
		display: block
		font-size: 18px
		line-height: 1.22
		color: #1f1f1f

	&__button
		margin-y: 20px
