mixin services-price-emercom()
	+b.services-button-block.row.middle-xs&attributes(attributes)
		+e.icon(src='/assets/images/prices-1.png' width=52)
		.col-xs
			+e.text-18 Стоимость оформления лицензии МЧС
			+e('p').bold-text
				| от
				span.price-text 90000
				| рублей


		+e.button
			+button({
				size: 'big',
			}) Подать заявку



