mixin service-folding-info()
	+b.service-folding-info&attributes(attributes)
		+e.item.row
			.col-xs-1
				+e.icon(src='assets/images/folding-info-1.png')

			.col-xs
				+e.title Документы для оформления лицензии
				+e.fold-link.js-fold-btn(data-id='documents') Раскрыть
				+e.folding-text(data-for='documents').js-fold-content
					+main-text('div')
						| Лицензия на Деятельность по монтажу, техническому обслуживанию и ремонту средств обеспечения пожарной безопасности зданий и сооружений включает в себя следующие виды работ:

						ol.numbers-list

							li Монтаж, техническое обслуживание и ремонт систем пожаротушения и их элементов, включая диспетчеризацию и проведение пусконаладочных работ

							li Монтаж, техническое обслуживание и ремонт систем пожарной и охранно-пожарной сигнализации и их элементов, включая диспетчеризацию и проведение пусконаладочных работ

							li Монтаж, техническое обслуживание и ремонт систем противопожарного водоснабжения и их элементов, включая диспетчеризацию и проведение пусконаладочных работ

							li Монтаж, техническое обслуживание и ремонт систем (элементов систем) дымоудаления и противодымной вентиляции, включая диспетчеризацию и проведение пусконаладочных работ

							li Монтаж, техническое обслуживание и ремонт систем оповещения и эвакуации при пожаре и их элементов, включая диспетчеризацию и проведение пусконаладочных работ
							li Монтаж, техническое обслуживание и ремонт фотолюминесцентных эвакуационных систем и их элементов
							li Монтаж, техническое обслуживание и ремонт противопожарных занавесов и завес, включая диспетчеризацию и проведение пусконаладочных работ
							li Монтаж, техническое обслуживание и ремонт заполнений проемов в противопожарных преградах
							li Устройство (кладка, монтаж), ремонт, облицовка, теплоизоляция и очистка печей, каминов, других теплогенерирующих установок и дымоходов
							li Выполнение работ по огнезащите материалов, изделий и конструкций
							li Монтаж, техническое обслуживание и ремонт первичных средств пожаротушения

		+e.item.row
			.col-xs-1
				+e.icon(src='assets/images/folding-info-2.png')

			.col-xs
				+e.title Документы для оформления лицензии
				+e.fold-link.js-fold-btn(data-id='documents2') Раскрыть
				+e.folding-text(data-for='documents2').js-fold-content
					+main-text('div')
						| Лицензия на Деятельность по монтажу, техническому обслуживанию и ремонту средств обеспечения пожарной безопасности зданий и сооружений включает в себя следующие виды работ:

						ol.numbers-list

							li Монтаж, техническое обслуживание и ремонт систем пожаротушения и их элементов, включая диспетчеризацию и проведение пусконаладочных работ

							li Монтаж, техническое обслуживание и ремонт систем пожарной и охранно-пожарной сигнализации и их элементов, включая диспетчеризацию и проведение пусконаладочных работ

							li Монтаж, техническое обслуживание и ремонт систем противопожарного водоснабжения и их элементов, включая диспетчеризацию и проведение пусконаладочных работ

							li Монтаж, техническое обслуживание и ремонт систем (элементов систем) дымоудаления и противодымной вентиляции, включая диспетчеризацию и проведение пусконаладочных работ

							li Монтаж, техническое обслуживание и ремонт систем оповещения и эвакуации при пожаре и их элементов, включая диспетчеризацию и проведение пусконаладочных работ
							li Монтаж, техническое обслуживание и ремонт фотолюминесцентных эвакуационных систем и их элементов
							li Монтаж, техническое обслуживание и ремонт противопожарных занавесов и завес, включая диспетчеризацию и проведение пусконаладочных работ
							li Монтаж, техническое обслуживание и ремонт заполнений проемов в противопожарных преградах
							li Устройство (кладка, монтаж), ремонт, облицовка, теплоизоляция и очистка печей, каминов, других теплогенерирующих установок и дымоходов
							li Выполнение работ по огнезащите материалов, изделий и конструкций
							li Монтаж, техническое обслуживание и ремонт первичных средств пожаротушения
