include ../title/title
include ../main-text/main-text

mixin services-legal-center()
	+b.services-legal-center&attributes(attributes)
		+e.title
			+title({
				align: 'left'
			}) Преимущества обращения в наш правовой центр

		+e.bold-text
			| Постоянные клиенты компании отмечают следующие преимущества заказа услуги по оформлению документов в ПЦ «Радомас»:


		+e('ul').list
			+e('li').list-item.row
				+e.icon_1
				+e.text.col-xs
					+main-text Большой опыт работы сотрудников компании. Наш коллектив сформировался в 2004 году и за прошедшее время научился работать как часы, понимая друг друга с полувзгляда. Это дает возможность максимально быстро выполнять взятые на себя обязательства.


			+e('li').list-item.row
				+e.icon_2
				+e.text.col-xs
					+main-text Фиксированная сумма оплаты. Мы работаем на договорной основе, поэтому стоимость работ четко зафиксирована и не подлежит никаким изменениям на всем протяжении выполнения необходимых задач.

			+e('li').list-item.row
				+e.icon_3
				+e.text.col-xs
					+main-text Гибкая система оплаты предоставленных услуг. В «Радомас» вы можете внести всю сумму предоплатой, заплатить несколькими частями или оплатить наши услуги после окончания всех работ. Оплата может быть внесена наличными или по безналичному расчету.

			+e('li').list-item.row
				+e.icon_4
				+e.text.col-xs
					+main-text Осуществление деятельности в Москве и за ее пределами. Мы имеем представительства в различных населенных пунктах, поэтому можем предоставить услуги по оформлению документов практически в любой части страны.

			+e('li').list-item.row
				+e.icon_5
				+e.text.col-xs
					+main-text Бесплатное консультирование клиентов по всем интересующим вопросам. Сотрудники нашей компании являются квалифицированными специалистами в своей области – они всегда готовы разъяснить все спорные и вызывающие вопросы моменты.
