include ../title/title
include ../main-text/main-text
include ../blue-circle-text/blue-circle-text

mixin services-legal-center()
	+b.services-legal-center&attributes(attributes)
		+e.title
			+title({
				align: 'left'
			}) Преимущества обращения в наш правовой центр

		+e.bold-text
			| Постоянные клиенты компании отмечают следующие преимущества заказа услуги по оформлению документов в ПЦ «Радомас»:


		+e('ul').list
			+e.list-item
				+blue-circle-text('/assets/images/legal-center-1.png')
					| Большой опыт работы сотрудников компании. Наш коллектив сформировался в 2004 году и за прошедшее время научился работать как часы, понимая друг друга с полувзгляда. Это дает возможность максимально быстро выполнять взятые на себя обязательства.


			+e.list-item
				+blue-circle-text('/assets/images/legal-center-2.png')
					| Фиксированная сумма оплаты. Мы работаем на договорной основе, поэтому стоимость работ четко зафиксирована и не подлежит никаким изменениям на всем протяжении выполнения необходимых задач.

			+e.list-item
				+blue-circle-text('/assets/images/legal-center-3.png')
					| Гибкая система оплаты предоставленных услуг. В «Радомас» вы можете внести всю сумму предоплатой, заплатить несколькими частями или оплатить наши услуги после окончания всех работ. Оплата может быть внесена наличными или по безналичному расчету.

			+e.list-item
				+blue-circle-text('/assets/images/legal-center-4.png')
					| Осуществление деятельности в Москве и за ее пределами. Мы имеем представительства в различных населенных пунктах, поэтому можем предоставить услуги по оформлению документов практически в любой части страны.

			+e.list-item
				+blue-circle-text('/assets/images/legal-center-5.png')
					| Бесплатное консультирование клиентов по всем интересующим вопросам. Сотрудники нашей компании являются квалифицированными специалистами в своей области – они всегда готовы разъяснить все спорные и вызывающие вопросы моменты.
