.services-legal-center
	display block

	&__bold-text
		margin-top: 13px
		margin-bottom: 30px
		font-size: 14px
		line-height: 1.3
		color: #1f1f1f

	&__list-item
		margin-y: 10px

		&:last-child
			margin-bottom: 0
