.services-questions

	&__icon
		margin-x: 15px
		display: block
		sprite $services_email

	&__text
		font-size: 21px
		line-height: 1.1
		color: #282828


	&__link
		font-size: 21px
		color: #327fd6
		font-family: $GothamProMedium
