.main-works
	display block
	background-color: #f2f2f2
	padding-y: 40px

	&__title
		margin-bottom: 8px

	&__subtitle
		display: block
		margin-bottom: 23px

	&__text
		font-size: 14px
		line-height: 1.57
		letter-spacing: -.3px
		text-align: left
		color: rgba(31, 31, 31, .6)

	&__button
		margin-top: 43px

	&__items
		margin-top: 50px
