import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

@import '../../node_modules/swiper/dist/css/swiper.css'
@import '../../node_modules/flexboxgrid/dist/flexboxgrid.css'
import('../blocks/**/*')

.page
	min-width 1131px

.content
	margin: auto
	padding-left: 20px
	padding-right: 20px
	width: $contentSize
	height: 100%
	font-family: $GothamProMedium
	box-sizing: content-box


