import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

import('../blocks/**/*')

.page
	min-width 1131px

.content
	margin: auto;
	padding-left: 20px
	padding-right: 20px
	width: 1131px;
	height: 100%
	font-family: $GothamProMedium


