import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

@import '../../node_modules/swiper/dist/css/swiper.css'
@import '../../node_modules/flexboxgrid/dist/flexboxgrid.css'
import('../blocks/**/*')

.numbers-list
	list-style: none
	margin-y: 10px
	counter-reset: list 0

	li
		margin-y: 10px

		&::before
			counter-increment: list
			content: counter(list) ". ";
			font-family: $GothamProMedium

.bold
	font-family: $GothamProBold

.page
	min-width 1131px

.content
	margin: auto
	padding-x: 20px
	width: $contentSize
	height: 100%
	font-family: $GothamPro
	box-sizing: content-box

	&_indent_no
		padding-x: 0


