.services-description
	display block

	&__title
		display: block
		margin-top: 0
		margin-bottom: 15px

	&__text
		margin-bottom: 30px

	&__services-list
		margin-bottom: 40px

	&__button
		text-align: center
