include ../title/title
include ../subtitle/subtitle
include ../main-text/main-text
include ../button/button

mixin service-need-license()
	+b.service-need-license&attributes(attributes)
		+e.title
			+title Нужна пожарная лицензия МЧС?

		+e.subtitle
			+subtitle Тогда Вы попали по адресу!

		+e.text
			+main-text
				| В каких ситуация может быть нужна лицензия МЧС и что собой представляет данный документ? Наличие лицензии позволяет компаниям осуществлять определенный вид деятельности, а именно производить монтаж, ремонтировать и обслуживать оборудование и технику, предназначенные для обеспечения противопожарной безопасности и локализации очагов возгорания.
				br
				br
				| Получить этот документ можно самостоятельно, обратившись в государственное учреждение и выполнив все предписанные законодательством мероприятия. Однако, если вы предпочитаете сэкономить собственное время, в таком случае обратитесь в профильную компанию РАДОМАС, которая поможет получить официальный и подлинный документ в максимально сжатые сроки. Пожарная лицензия МЧС, оформленная с нашей помощью, является бессрочным документом, который действует на всей территории нашей страны.

		+e.images.row.between-xs
			.col-xs-4
				+e.image(src='assets/images/need-license-1.jpg')

			.col-xs-4
				+e.image(src='assets/images/need-license-2.jpg')

			.col-xs-4
				+e.image(src='assets/images/need-license-3.jpg')

		+e.button.row.center-xs
			+button({
				size: 'big'
			}) Подать заявку

