.service-need-license
	display block

	&__text
		margin-top: 20px

	&__images
		margin-top: 17px
		margin-bottom: 20px

	&__image
		display: block
		border-radius: 10px
		border: 1px solid rgba(lightgray, .2)
