mixin service-prices()
	+b.service-prices&attributes(attributes)
		.row
			.col-xs-12.col-md-4.col-sm-4
				+e.icon
					+e('img').icon-img(src='assets/images/prices-1.png')
				+e.text Оформления лицензии мчс
				+e.bold
					| от
					.price-text 90000
					| рублей


			.col-xs-12.col-md-4.col-sm-4
				+e.icon
					+e('img').icon-img(src='assets/images/prices-2.png')
				+e.text Госпошлина за предоставление лицензии
				+e.bold
					| от
					.price-text 90000
					| рублей


			.col-xs-12.col-md-4.col-sm-4
				+e.icon
					+e('img').icon-img(src='assets/images/prices-3.png')
				+e.text Стоимость удостоверения
				+e.bold
					| от
					.price-text 90000
					| рублей
