.service-emercome-license

	&__title
		margin-bottom: 24px

	&__icon
		size: 236px
		background-color: #ffc560
		border-radius: 50%

	&__licence-icon
		display: block


	&__icon-wrapper
		margin: auto
		display: block
		size: 100% 260px
		border-bottom-left-radius: 50%
		border-bottom-right-radius: 50%
		overflow: hidden
		transform: translateY(-30px)

	&__icon-img
		margin: auto
		display: block
		transform: translateY(17px)

	&__button
		margin-top: 28px
