.services-list
	display block

	&__title
		margin-y: 24px 17px
		font-family: $GothamProBold
		font-size: 20px
		font-weight: bold
		line-height: 1.1
		text-align: center
		color: #2a2a2a

	&__gray-link
		margin-bottom: 9px
		display: block
		font-size: 16px
		text-align: center
		color: #2a2a2a

	&__img
		display: block
		margin: auto
