.button
	padding-y: 25px
	padding-x: 37px
	display: inline-block
	font-family: $GothamProMedium
	font-size: 16px
	letter-spacing: -.3px
	color: rgba(250, 250, 250, .82)
	border-radius: 32px
	cursor: pointer
	border: none
	text-decoration: none

	&_color_yellow
		background-color: #ffc560
		color: rgba(51, 51, 51, .85)

	&_color_blue
		background-color: #327fd6
		color: rgba(250, 250, 250, .82)

	&_color_transparent
		background-color: transparent
		border: solid 2px #3a3a3a
		color: #333

	&_size_big
		padding-x 51px
		padding-y 28px
		border-radius: 36px

	&_size_medium
		padding-y: 25px
		padding-x: 37px
		border-radius: 32px

	&_size_small
		padding-x 27px
		padding-y 20px
		border-radius: 26px
		font-size: 13px



