.main-services
	display block
	padding-y 30px

	&__title
		margin-y: 7px 20px

	&__text
		font-family: $GothamProMedium
		font-size: 14px
		line-height: 1.4
		letter-spacing: -.3px
		color: rgba(31, 31, 31, 0.6)

	&__services-list
		margin-top: 59px

