include ../title/title
include ../services-list/services-list

mixin main-services()
	+b.main-services&attributes(attributes)
		.content
			+e.title
				+title Наши услуги

			+e('p').text
				| Если документ необходим срочно, но времени на то, чтобы заниматься его оформлением самостоятельно, у вас нет, тогда стоит связаться с нашей компанией уже сегодня. Мы работаем с компаниями из Москвы и области. Наработанный за годы деятельности опыт способствует тому, что лицензия МЧС России оформляется без лишних проблем. Всё, что необходимо от вас, это заявка, отправленная на адрес нашей электронной почты, либо заполненная в форма те он-лайн на сайте. После получения, специалист ознакомиться с содержанием и свяжется с вами в ближайшее время, чтобы уточнить все детали.

			+e.services-list
				+services-list
