.main-services
	display block
	padding-y 40px

	&__title
		margin-bottom: 20px

	&__text
		font-family: $GothamProMedium
		font-size: 14px
		line-height: 1.4
		letter-spacing: -.3px
		color: rgba(31, 31, 31, .6)

	&__services-list
		margin-top: 59px

