.popup
	display none

	&_open
		display: block

	&__overlay
		background: rgba(#000, .7)


	&,
	&__overlay,
	&__center
		position: fixed
		top: 0
		left: 0
		right: 0
		bottom: 0
		min-height: 100vh

	&__block
		padding-x: 30px
		padding-bottom: 30px
		width: 700px
		height: 80%
		max-height: 80vh
		display: flex
		flex-direction: column
		background-color: #fff
		border: solid 1px #fff
		text-align: left
		overflow: hidden

	&__header
		position: relative
		padding-y: 18px
		border-bottom: 1px solid #b5b5b5
		font-size: 18px
		font-family: $GothamProMedium
		line-height: 1.33
		text-align: left
		color: #1f1f1f

	&__content
		margin-top: 18px
		display: block
		font-size: 14px
		font-family: $GothamProLight
		line-height: 1.5
		text-align: left
		color: #1f1f1f
		overflow-y: scroll
		height: 100%


		ul,
		ol
			margin-bottom: 20px

		ol
			list-style: none
			counter-reset: list 0

			li
				&::before
					counter-increment: list
					content: counter(list) ". ";

	&__content-title
		font-family: $GothamProMedium

	&__close
		position: absolute
		right: 0
		top: 20px
		display: block
		sprite: $popup_close
		cursor: pointer

		&::before
			content: ''
			size: 30px
			position: absolute
			top: -5px
			left: -5px

