include ../button/button

mixin blue-slider()
	+b.blue-slider.js-blue-slider&attributes(attributes)
		+e.arrows
			+e.arrow_left.swiper-button-prev
			+e.arrow_right.swiper-button-next

		.swiper-wrapper
			+e.item.swiper-slide
				+e.content.content.row.middle-xs
					+e.text-content
						+e.title Заголовок слайда
						+e.text Чтобы производить монтаж или ремонт средств, с помощью которых обеспечивается пожарная безопасность в зданиях и сооружениях, необходимо получить соответствующую лицензию в Министерстве чрезвычайных ситуаций. Процедуру оформления можно пройти и самостоятельно. Но, учитывая необходимость дополнительных затрат на приобретение соответствующего оборудования, а также внимательность, порой, чрезмерную скрупулезность и нередко откровенную предвзятость

						+e.button
							+button({
								size: 'big',
							}) Оформить заявку

					+e.image(src='/assets/images/licence.png')


			+e.item.swiper-slide
				+e.content.content.row.middle-xs
					+e.text-content
						+e.title Заголовок слайда
						+e.text Чтобы производить монтаж или ремонт средств, с помощью которых обеспечивается пожарная безопасность в зданиях и сооружениях, необходимо получить соответствующую лицензию в Министерстве чрезвычайных ситуаций. Процедуру оформления можно пройти и самостоятельно. Но, учитывая необходимость дополнительных затрат на приобретение соответствующего оборудования, а также внимательность, порой, чрезмерную скрупулезность и нередко откровенную предвзятость

						+e.button
							+button({
								size: 'big',
							}) Оформить заявку

					+e.image(src='/assets/images/licence.png')

