mixin faq-item(count)
	- id = Math.random()
	+b.faq-item
		+e.question-link.js-faq-btn(data-id=id)=count + ') Какие требования предъявляют к соискателям лицензии МЧС?'
		+e.content.js-faq-content(data-for=id)
			span.bold Ответ:
			| Порядку лицензирования посвящен закон 99-ФЗ, а также ряд нормативно-правовых регламентов, отраслевых правил и инструкций. Отыскать перечень требований в массе документов не так просто. Соискателям лицензии МЧС потребуется заключить трудовые договоры с квалифицированными специалистами (руководитель, инженеры должны иметь соответствующее образование), подтвердить наличие оборудованного помещения, специализированного транспорта и инструментов. Заявителю потребуется предоставить пакет документов. Подробную информацию по этому вопросу предоставит юрист «Радомас».
