include ../title/title
include ../tabs/tabs
include ./faq-item

mixin faq()
	+b.faq&attributes(attributes)
		+title({ align: 'left' }) Вопросы и ответы
		+e.tabs
			+tabs({
				tabs: [
					{text: 'Лицензия МЧС', active: true},
					{text: 'Ликвидация ООО'}
				]
			})
				+faq-item
