.faq
	display block


.faq-item
	&__question-link
		margin-bottom: 15px
		display: flex
		align-items: center
		font-size: 14px
		color: #333
		cursor: pointer
		vertical-align: middle

		&::after
			content: ''
			margin-left: 5px
			display: inline-block
			sprite $faq_arrow

		&_open
			font-family: $GothamProMedium
			text-decoration: underline

		&_open::before
			transform: rotate(180deg) translateY(2px)

	&__content
		height: 0
		overflow: hidden
		padding-left: 10px
		font-family: $GothamProLight
		font-size: 14px
		line-height: 1.3
		color: #333
		border-left: 3px solid #ffc560
		transition: all .2s

		&_open
			height: auto
			margin-top: 15px
			margin-bottom: 25px
			margin-left: 15px
