$fontFallback = Helvetica, Arial, sans-serif
$GothamPro = GothamPro, $fontFallback
$GothamProMedium = GothamProMedium, $fontFallback
$GothamProLight = GothamProLight, $fontFallback
$GothamProBold = GothamProBold, $fontFallback

$contentSize = 1130px
