.how-works-item
	display: flex
	justify-content: center
	flex-direction: column

	&__circle
		position: relative
		centerContent()
		size: 113px
		border: solid 2px #3b3b3b
		border-radius: 50%
		margin: auto

		&::before
			content: attr(data-count)
			position: absolute
			right: 3px
			top: 2px
			display: block
			size: 27px
			background-color: #3b3b3b
			font-size: 16px
			font-family: $GothamProBold
			line-height: 1.9
			color: #fff
			border-radius: 50%
			text-align: center

		&::after
			content: ''
			display: block

		&_1::after
			sprite $how_works_1

		&_2::after
			sprite $how_works_2

		&_3::after
			sprite $how_works_3

		&_4::after
			sprite $how_works_4



	&__title
		margin-top: 16px
		margin-bottom: 10px
		font-size: 18px
		font-weight: 500
		line-height: 1.2
		letter-spacing: -.4px
		color: #1f1f1f
		text-align: center

	&__text
		font-size: 13px
		line-height: 1.31
		letter-spacing: -.3px
		text-align: center
		color: rgba(31, 31, 31, .7)

.how-works-item-circles
	sprite $three_circles
