.how-works-item


	&__circle
		display: flex
		size: 113px
		border: solid 2px #3b3b3b
		border-radius: 50%
		justify-content: center
		align-items: center
		margin: auto

	&__title
		margin-y 16px 10px
		font-size: 18px
		font-weight: 500
		line-height: 1.2
		letter-spacing: -0.4px
		color: #1f1f1f
		text-align: center

	&__text
		font-size: 13px
		line-height: 1.31
		letter-spacing: -0.3px
		text-align: center
		color: rgba(31, 31, 31, 0.7)
