mixin how-works-item(data)
	- data = data || {}

	+b.how-works-item&attributes(attributes)
		+e.circle(data-count=data.count class=`how-works-item__circle_${data.count}`)
		+e.title=data.title
		+e.text
			block
