extends /blocks/layout-inner/layout-inner
include ../blocks/main-content/main-content
include ../blocks/main-content/main-content-item
include ../blocks/articles/articles

block head
	- var pageTitle = 'Статьи';

block content
	+main-content
		+main-content-item({ borderNo: true })
			+articles
