include ../blocks/head/head

block head
	- var pageTitle = 'Список страниц';

	style.
		body {
			display: flex;
			height: 100vh;
		}
		.page-links {
			margin: auto;
		}

		.page-links__item {
			display: block;
			font-size: 24px;
			color: deepskyblue;
			padding-top: .5rem;
			padding-bottom: .5rem;
		}

block content
	.page-links
		a.page-links__item(href='./main.html') Главная
		a.page-links__item(href='./services.html') Услуги
