include ../blocks/head/head

block head
	- var pageTitle = 'Список страниц';

	style.
		body {
			display: flex;
			height: 100vh;
		}
		.page-links {
			margin: auto;
		}

		.page-links__item {
			display: block;
			font-size: 24px;
			color: #327fd6;
			font-family: GothamProBold;
			padding-top: .5rem;
			padding-bottom: .5rem;
		}

block content
	.page-links
		a.page-links__item(href='./main.html') Главная
		a.page-links__item(href='./services.html') Услуги
		a.page-links__item(href='./service.html') Услуга
		a.page-links__item(href='./prices.html') Цены
		a.page-links__item(href='./contacts.html') Контакты
		a.page-links__item(href='./articles.html') Статьи
		a.page-links__item(href='./faq.html') FAQ
		a.page-links__item(href='./reviews.html') Отзывы
