extends /blocks/layout-default/layout-default

include ../blocks/main-slider/main-slider
include ../blocks/main-services/main-services
include ../blocks/main-works/main-works
include ../blocks/blue-slider/blue-slider
include ../blocks/main-reviews/main-reviews

block head
	- var pageTitle = 'Главная';

block content
	+b.main
		+e.slider
			+main-slider
		+e.services
			+main-services
		+e.works
			+main-works
		+e.blue-slider
			+blue-slider
		+e.reviews
			+main-reviews
