extends /blocks/layout-default/layout-default

include ../blocks/main-slider/main-slider
include ../blocks/main-services/main-services

block head
	- var pageTitle = 'Главная';

block content
	+b.main
		+e.slider
			+main-slider
		+e.services
			+main-services
