extends /blocks/layout-inner/layout-inner
include ../blocks/main-content/main-content
include ../blocks/main-content/main-content-item
include ../blocks/button/button
include ../blocks/title/title
include ../blocks/popup/popup


block head
	- var pageTitle = 'Страничка с попапом';

block content
	+main-content
		+main-content-item
			+title Страница для тестирования попапа
			.row.center-xs
				+button.js-popup-open(data-for='popup1') Открыть попап

block popup
	+popup({
		id: 'popup1',
		title: 'Документы для оформления лицензии'
	})
		+e.content-title Для юридического лица:
		ol
			li Свидетельство о регистрации (ОГРН) - ксерокопия;
			li Свидетельство о постановке на налоговый учет (ИНН) - ксерокопия;
			li Устав, только страница с адресом места нахождения и названием фирмы- ксерокопия;
			li Договор аренды (субаренды), свидетельство о собственности помещения на юр. адрес и (или) адрес обособленного подразделения – ксерокопия;
			li Документ, подтверждающий уплату госпошлины (платежное поручение) - оригинал;
			li Реквизиты юр. лица с контактным телефоном;

		+e.content-title Для индивидуального предпринимателя:
		ol
			li Свидетельство о регистрации (ОГРНИП) - ксерокопия;
			li Свидетельство о постановке на налоговый учет (ИНН) - ксерокопия;
			li Российский паспорт Индивидуального предпринимателя - ксерокопия;
			li Диплом о любом техническом образовании Индивидуального предпринимателя – нотариальная копия;
			li Документ, подтверждающий уплату госпошлины (платежное поручение) - оригинал;
			li Реквизиты индивидуального предпринимателя с контактным телефоном;

		+e.content-title Документы на сотрудников (если есть):

		ol
			li Дипломы о любом техническом (строительном) образовании – нотариальные копии;
			li Удостоверения (свидетельства) о повышении квалификации – нотариальные копии (если у Вас нет, то поможем получить);
			li Трудовые книжки или выписки из них, трудовые договора – ксерокопии.
