extends /blocks/layout-inner/layout-inner
include ../blocks/main-content/main-content
include ../blocks/main-content/main-content-item
include ../blocks/prices-table/prices-table
include ../blocks/prices-block/prices-block

block head
	- var pageTitle = 'Цены';

block content
	+main-content({ padding: 'no' })
		+main-content-item
			+prices-block
