extends /blocks/layout-inner/layout-inner
include ../blocks/main-content/main-content-item
include ../blocks/services-description/services-description
include ../blocks/services-license-benefits/services-license-benefits
include ../blocks/services-questions/services-questions

block head
	- var pageTitle = 'Услуги';

block content
	+b.services
		+main-content-item
			+services-description

		+main-content-item
			+services-license-benefits

		+main-content-item
			+services-questions
