extends /blocks/layout-inner/layout-inner
include ../blocks/main-content/main-content-item
include ../blocks/services-description/services-description
include ../blocks/services-license-benefits/services-license-benefits
include ../blocks/services-button-block/services-questions
include ../blocks/services-legal-center/services-legal-center
include ../blocks/aside-useful/aside-useful

block head
	- var pageTitle = 'Услуги';

block aside
	+e.aside-form
		+aside-useful

block content
	+main-content
		+main-content-item
			+services-description

		+main-content-item
			+services-license-benefits

		+main-content-item
			+services-questions

		+main-content-item
			+services-legal-center
