extends /blocks/layout-inner/layout-inner
include ../blocks/main-content/main-content-item
include ../blocks/services-description/services-description
include ../blocks/services-license-benefits/services-license-benefits
include ../blocks/services-button-block/services-questions
include ../blocks/services-legal-center/services-legal-center
include ../blocks/service-emercome-license/service-emercome-license
include ../blocks/service-prices/service-prices
include ../blocks/service-info/service-info
include ../blocks/service-folding-info/service-folding-info
include ../blocks/services-button-block/services-faq
include ../blocks/services-button-block/services-price-emercom
include ../blocks/service-how-works/service-how-works

block head
	- var pageTitle = 'Услуга';

block content
	+b.services
		+main-content-item
			+service-emercome-license

		+main-content-item
			+service-prices

		+main-content-item
			+service-info

		+main-content-item
			+services-questions

		+main-content-item
			+service-folding-info

		+main-content-item
			+service-faq

		+main-content-item
			+service-how-works

		+main-content-item
			+services-license-benefits

		+main-content-item
			+services-legal-center

		+main-content-item
			+services-price-emercom
