extends /blocks/layout-inner/layout-inner
include ../blocks/main-content/main-content-item
include ../blocks/services-description/services-description

block head
	- var pageTitle = 'Услуги';

block content
	+b.services
		+main-content-item
			+services-description
