.page
	display: flex
	flex-direction: column

	&_overflow_hidden
		overflow: hidden

	&__content
		flex: 1 0 auto

	&__breadcrumbs
		margin-bottom: 15px

	&__bottom
		margin-top: 15px
		flex: 0 0 auto

		&_marginTop_none
			margin-top: 0

	&__aside-form
		padding-top: 7px

	&__content
		//z-index: -1

