mixin logo(data)
	- data = data || {}
	- white = data.white || false

	+b.logo&attributes(attributes)
		if white
			+e('img').img(src='assets/images/logo-white.png')
		else
			+e('img').img(src='assets/images/logo.png')
		+e('span').text(class=white && 'logo__text_white') Правовой центр ООО «Радомас»
