mixin logo(data)
	- data = data || {}
	- white = data.white || false

	+b.logo(class=white && 'logo_white')&attributes(attributes)
		+e('span').text(class=white && 'logo__text_white') Правовой центр ООО «Радомас»
