.logo
	display block

	&::before
		content: ''
		display: block
		sprite $logo

	&_white::before
		sprite $logo_white

	&_white &__text
		color: rgba(255, 255, 255, 0.58)

	&__text
		display: block
		font-size: 12.2px
		line-height: 1.6
		letter-spacing: 1.1px
		text-align: left
		color: rgba(58, 58, 58, .58)
		font-family: $GothamProLight
