.feedback-form
	padding-top: 67px
	display block
	height: 570px
	background-image: url(../images/feedback-form-bg.jpg)
	background-position: center

	&__title
		margin-bottom: 21px
		display: block
		font-family: $GothamProBold
		font-size: 37px
		letter-spacing: -.9px
		color: #fff
		text-transform: uppercase

	&__text
		font-size: 23.3px
		letter-spacing: -.6px
		color: #fff

	&__small-text
		margin-top: 30px
		margin-bottom: 18px
		display: block
		font-size: 14px
		letter-spacing: -0.3px
		color: #fff
		text-transform: uppercase

	&__phone
		margin-bottom: 21px
		display: block
		font-size: 36px
		letter-spacing: -.9px
		color: #fff
		text-decoration: none

	&__email
		font-size: 26px
		letter-spacing: -0.6px
		color: #fff

	&__form
		padding-x 30px
		padding-top: 30px
		padding-bottom: 20px
		background-color: #fafafa
		box-shadow: 0 6px 38px 0 rgba(15, 55, 104, 0.19)

	&__input-title
		margin-top: 7px
		margin-bottom: 12px
		display: block
		font-size: 17px
		letter-spacing: -.4px
		color: #1f1f1f

	&__input
		padding-y: 18px
		padding-left: 16px
		display: block
		size: 100% 48px
		background-color: #fff
		border: solid 1px rgba(0, 1, 1, 0.09)

		&::placeholder
			font-weight: $GothamProLight
			font-size: 14px
			letter-spacing: -.3px
			color: rgba(31, 31, 31, 0.37)
			font-style: italic

	&__form-row
		margin-bottom: 20px

	&__textarea
		padding-y: 18px
		padding-left: 16px
		display: block
		width: 100%
		height: 80px
		background-color: #fff
		border: solid 1px rgba(0, 1, 1, 0.09)
