include ../title/title
include ../subtitle/subtitle
include ./main-review

mixin main-reviews()
	+b.main-reviews&attributes(attributes)
		.content
			+e.title
				+title Отзывы

			+e.subtitle
				+subtitle Порядок и этапы оформления

			+e.reviews.row
				+main-review({
					title: 'Спасибо большое за хорошую работу!'
				})
					| Нашей компании нужно было получить такую пожарную лицензию, за которой мы обратились в мае прошлого года.
					| Уже в начале июля официально выданная лицензия МЧС была у нас на руках, так что теперь мы можем
					| на законном основании проводить монтажные и ремонтные работы в сфере противопожарной безопасности по всей России.


				+main-review({
					title: 'Очень довольны!'
				})
					| Нашей компании нужно было получить такую пожарную лицензию, за которой мы обратились в мае прошлого года.
					| Уже в начале июля официально выданная лицензия МЧС была у нас на руках, так что теперь мы можем
					| на законном основании проводить монтажные и ремонтные работы в сфере противопожарной безопасности по всей России.
					| Причем стоимость была заметно ниже, чем в других компаниях.


				+main-review({
					title: 'Спасибо большое за хорошую работу!'
				})
					| Нашей компании нужно было получить такую пожарную лицензию, за которой мы обратились в мае прошлого года.
					| Уже в начале июля официально выданная лицензия МЧС была у нас на руках, так что теперь мы можем
					| на законном основании проводить монтажные и ремонтные работы в сфере противопожарной безопасности по всей России.
					| Причем стоимость была заметно ниже, чем в других компаниях.

				+main-review({
					title: 'Очень довольны!'
				})
					| Нашей компании нужно было получить такую пожарную лицензию, за которой мы обратились в мае прошлого года.
					| Уже в начале июля официально выданная лицензия МЧС была у нас на руках, так что теперь мы можем
					| на законном основании проводить монтажные и ремонтные работы в сфере противопожарной безопасности по всей России.
					| Причем стоимость была заметно ниже, чем в других компаниях.


			+e('a').view-more.row.middle-xs.center-xs(href=jv0)
				+e.view-more-text.span Читать все отзывы
