mixin main-review(data)
	- data = data || {}

	+e.review-wrapper.col-md-3.col-sm-6.col-xs-12
		+e.review
			+e.review-text-content
				+e.review-title=data.title
				+e.text
					block
			+e.author.row.middle-xs
				.col-xs-3
					+e.author-photo(src='https://picsum.photos/48/48')
				+e.author-content.col-xs
					+e.author-name Светлана Дьяконова
					+e.author-profession CEO «FireProtect»


