mixin main-review(data)
	- data = data || {}

	+e.review.col-xs
		+e.review-text-content
			+e.review-title=data.title
			+e.text
				block
		+e.author.row.middle-xs
			.col-xs-3
				+e.author-photo(src='https://picsum.photos/48/48')
			+e.author-content.col-xs
				+e.author-name Светлана Дьяконова
				+e.author-profession CEO «FireProtect»


