include ../title/title
include ../main-text/main-text
include ../prices-table/prices-table


mixin prices-block()
	+b.prices-block&attributes(attributes)
		+e.content
			+e.title
				+title({ align: 'left' }) Цены

			+e.text
				+main-text Актуальные цены на услуги, предоставляемые нашим центром


		+e.table
			+prices-table

		+e.content
			+e('p').gray-text.
				Как принято считать, стремящиеся вытеснить традиционное производство, нанотехнологии представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть призваны к ответу. Безусловно, дальнейшее развитие различных форм деятельности требует анализа переосмысления внешнеэкономических политик. Сторонники тоталитаризма в науке набирают популярность среди определенны слоев населения, а значит, должны быть указаны как претенденты на роль ключевых факторов.
