include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../scripts/scripts
include ../header/header
include ../feedback-form/feedback-form
include ../footer/footer
include ../breadcrumbs/breadcrumbs
include ../aside-menu/aside-menu
include ../aside-form/aside-form
include ../aside-useful/aside-useful
include ../main-content/main-content

doctype html
html(lang='ru')
	include ../head/head
	+page
		+e.top
			+header(
				getData('menu')
			)
			+breadcrumbs
		+e.content
			.content
				.row.between-xs
					+e.aside
						+e.aside-menu
							+aside-menu
						+e.aside-form
							+aside-form
						+e.aside-form
							+aside-useful
					+e.main
						+main-content
							block content



		+e.bottom
			+feedback-form
			+footer

		+scripts(['app.min.js'])
