include ../logo/logo

mixin header-info()
	+b.header-info&attributes(attributes)
		.content
			+e.content
				+e.logo
					+logo

				+e.info-items

					+e.info-item
						+e.info-icon_position

						+e.info-content
							+e.info-text
								| г. Москва,
								br
								| Подсосенский переулок, д.28, стр.1
							+e.info-link(href=jv0) Схема проезда

					+e.info-item
						+e.info-icon_phone
						+e.info-content
							+e.info-text Контактный номер:
								+e.info-bold +7(495)921-45-39
								+e.info-link(href=jv0) Заказать обратный звонок

