.header-info
	display: block
	size: 100% 95px
	background: #fafafa

	&__content
		display: flex
		justify-content: space-between
		align-items: center
		height: 100%

	&__info-items
		display: flex
		justify-content: space-between
		align-items: center

	&__info-item
		display: flex
		margin-right: 40px

	&__info-icon
		size: 48px
		background-color: #327fd6
		border-radius: 50%
		background-repeat no-repeat
		background-position center

		&_position
			background-image: url(../images/position.png)

		&_phone
			background-image: url(../images/phone.png)

	&__info-content
		margin-left: 14px

	&__info-text
		display: block
		margin-bottom: 4px
		font-size: 16px
		line-height: 1.2
		color: #3a3a3a
		font-family: $GothamProLight

	&__info-link
		font-size: 13px
		letter-spacing: -.3px
		color: #1661b7
		font-family: $GothamProLight
		// TODO подчеркивание

	&__info-bold
		font-family: $GothamProMedium
		font-size: 20px
		line-height: 1.24
		letter-spacing: -.2px
		text-align: left
		color: #3a3a3a
