include ../main-text/main-text

mixin review()
	+b.review&attributes(attributes)
		+e.title.bold Виталий Ростиков

		+e.text
			+main-text.
				Регистрировал юридическое лицо. Поскольку были опасения насчет совершения нежелательных ошибок, то с самого начала стал посматривать в сторону профессионалов, которые были готовы взять на себя выполнение поставленной задачи. К счастью, долго искать не пришлось, так что сотрудники «Радомас» смогли сделать то, о чем я их и просил. Как итог – никаких проблем не возникло, регистрация прошла гладко.

		+e.date
			+e.date-text
				+main-text 17.05.2016 в 11:30
