.main-slider
	position: relative
	display block
	size 100% 540px
	background #ec9146 // TODO убрать
	overflow hidden

	&__items
		display: flex
		height: 100%

	&__item
		display: flex
		size: 100%
		background-size: cover
		background-repeat: no-repeat

	&__slide-content
		margin: auto

	&__text
		font-family: $GothamProLight
		font-size: 17px
		line-height: 1.4
		letter-spacing: -.4px
		color: #333

	&__title
		margin-top: 15px
		margin-bottom: 15px
		display: block
		font-family: $GothamPro
		font-size: 55px
		line-height: .94
		letter-spacing: -1.1px
		color: #333

	&__bold
		font-family: $GothamProBold

	&__text-content
		width: 550px

	&__icons-text-list
		margin-top: 35px
		margin-bottom: 40px
		display: flex

	&__icons-text
		centerContent()
		margin-right: 56px

		&::before
			content: ''
			display: block
			margin-right: 10px

		&_time::before
			sprite: $time

		&_money::before
			sprite: $money

		&:last-child
			margin-right: 0

	&__icons-text-content
		font-family: $GothamProMedium
		font-size: 15px
		line-height: 1.3
		text-align: left
		color: #333

	&__buttons
		display: flex

	&__button
		margin-right: 13px

		&:last-child
			margin-right: 0

	&__bullets
		position: absolute
		bottom: 27px
		left: 0
		right: 0
		display: flex
		justify-content: center

	&__circle
		margin-right: 10px
		display: block
		size: 15px 16px
		background-color: rgba(#fff, .5)
		border-radius: 50%
		cursor: pointer

		&:last-child
			margin-right: 0

		&_active
			background-color: transparent
			border: solid 2px #ffffff

	&__arrows
		width: $contentSize
		position: absolute
		top: 50%
		left: 0
		right: 0
		margin: auto
		display: flex
		align-items: center

	&__arrow
		position: absolute
		sprite: $arrow
		cursor: pointer
		background-size: auto

		&_left
			left: -87px

		&_right
			right: -87px
			transform rotate(180deg)

		@media screen and (max-width: 1300px)
			&_left
				left: -50px

			&_right
				right: -50px

