include main-slider-item

mixin main-slider()
	+b.main-slider.js-main-slider&attributes(attributes)
		+e.arrows
			+e.arrow_left.swiper-button-prev
			+e.arrow_right.swiper-button-next

		+e.circles.swiper-pagination

		+e.items.swiper-wrapper
			+main-slider-item
			+main-slider-item
			+main-slider-item
			+main-slider-item
