include ./prices-table-item

mixin prices-table()
	+b('table').prices-table&attributes(attributes)
		+e('thead').head
			+e('th').head-item Услуга
			+e('th').head-item Цена
			+e('th').head-item
		+prices-table-item('Охранно-пожарая лицензия', '90 000 руб.')
		+prices-table-item('Лицензия по монтажу средств пожарной безопасности', '10 000 руб.')
		+prices-table-item('Охранно-пожарая лицензия', '90 000 руб.')
		+prices-table-item('Лицензия по монтажу средств пожарной безопасности', '10 000 руб.')
		+prices-table-item('Охранно-пожарая лицензия', '90 000 руб.')
		+prices-table-item('Лицензия по монтажу средств пожарной безопасности', '10 000 руб.')
		+prices-table-item('Охранно-пожарая лицензия', '90 000 руб.')
		+prices-table-item('Лицензия по монтажу средств пожарной безопасности', '10 000 руб.')
		+prices-table-item('Охранно-пожарая лицензия', '90 000 руб.')
		+prices-table-item('Лицензия по монтажу средств пожарной безопасности', '10 000 руб.')
		+prices-table-item('Охранно-пожарая лицензия', '90 000 руб.')
		+prices-table-item('Лицензия по монтажу средств пожарной безопасности', '10 000 руб.')

