.prices-table
	width: 100%

	&__head
		background-color: #327fd6

	&__head-item
		height: 45px
		color: #fff
		text-align: left
		padding-left: 20px
		font-size: 16px
		font-family: $GothamProMedium

.prices-table-item
	&__td
		text-align: left
		padding-left: 20px
		height: 45px
		border-bottom: 1px solid #e8e8e8
		font-size: 14px
		color: #333

		&_name
			width: 60%


