.aside-form
	padding: 20px
	background-color: #fff
	border: solid 1px rgba(0, 1, 1, 0.07)
	background-image: url(../images/aside-form-bg.jpg)
	background-repeat: no-repeat
	background-position: 50px bottom

	&__title
		margin-bottom: 21px
		display: block
		font-size: 22px
		font-family: $GothamProBold
		text-align: left
		color: #333

	&__number-text
		margin-bottom: 8px
		display: block
		font-size: 14px
		font-family: $GothamProLight
		color: #3a3a3a

	&__number-phone
		padding-bottom: 15px
		display: inline-block
		font-size: 19px
		color: #3a3a3a
		border-bottom: 1px solid rgba(#333, .1)

	&__big-title
		margin-top: 16px
		margin-bottom: 21px
		display: block
		font-family: $GothamProBold
		font-size: 20px
		color: #333

	&__input
		margin-bottom: 9px
		display: block

	&__button
		margin-top: 13px
		display: block

