.articles
	display block

	&__item
		border-bottom: 1px solid #e4e4e4

		&:first-child
			border-top: 1px solid #e4e4e4

	&__nav
		margin-top: 25px

.articles-item
	padding-y: 25px

	&__title
		margin-bottom: 14px
		display: block
		font-family: $GothamProMedium
		font-size: 22px
		color: #212737

	&__text
		margin-bottom: 18px
		display: block
		font-family: $GothamProLight
		font-size: 12px
		font-weight: 300
		line-height: 1.5
		text-align: left
		color: #212737
