.input
	padding-x: 16px
	display: block
	size: 100% 38px
	background-color: #fff
	border: solid 1px rgba(0, 1, 1, 0.09)
	transition: 0s

	&::placeholder
		font-weight: $GothamProLight
		font-size: 14px
		letter-spacing: -.3px
		color: rgba(31, 31, 31, 0.37)
		font-style: italic

	&_size_big
		height: 48px

textarea.input
	padding-y: 18px
	height: 80px
