.services-license-benefits
	display block

	&__items
		margin-top: 40px

	&__item
		display: block

	&__item-title
		margin-top: 22px
		margin-bottom: 17px
		text-transform: uppercase
		text-align: center

	&__text
		font-size: 13px
		font-family: $GothamProLight
		line-height: 1.23
		letter-spacing: -0.3px
		text-align: center
		color: rgba(31, 31, 31, 0.64)

	&__img
		display: block
		margin: auto

		&_1
			sprite $benefits_1

		&_2
			sprite $benefits_2

		&_3
			sprite $benefits_3

