include ../title/title

mixin services-license-benefits()
	+b.services-license-benefits&attributes(attributes)
		+e.title
			+title Преимущества получения лицензии МЧС от нашей компании в Москве

		+e.items.row
			+e.item_1.col-xs-12.col-md-4
				+e.img(src='assets/images/benefits-1.png')
				+e.item-title НАДЕЖНОСТЬ
				+e.text.
					Нет необходимости тратить личное время, можно быть уверенным в законности всей полученной документации, ведь вы сотрудничаете с компанией, обладающей солидным опытом.


			+e.item_1.col-xs-12.col-md-4
				+e.img(src='assets/images/benefits-2.png')
				+e.item-title ЗАКОННОСТЬ И ПРОЗРАЧНОСТЬ
				+e.text.
					Мы понимаем, что любой заинтересованной компании нужна лицензия МЧС только официального образца. Сведения о лицензии, оформленной нашим правовым центром, вносятся в специальный реестр лицензирования, который находится в открытом доступе на сайте МЧС России.

			+e.item_1.col-xs-12.col-md-4
				+e.img(src='assets/images/benefits-3.png')
				+e.item-title ОБЪЕКТИВНАЯ СТОИМОСТЬ
				+e.text.
					Никаких надуманных сумм, ценник полностью обоснован сложностью проводимых работ и трудозатратами специалистов.
