include ../blue-circle-text/blue-circle-text

mixin service-info()
	+b.service-info&attributes(attributes)
		+e('ul').list
			+e.list-item
				+blue-circle-text('assets/images/service-info-1.png').
					На экстренный (срочный) случай у нас есть <b class='bold'>готовые</b> фирмы с пожарной лицензией МЧС.


			+e.list-item
				+blue-circle-text('assets/images/service-info-2.png').
					Срок переоформления на Вас готовой фирмы: <b class='bold'>10 дней.</b>


			+e.list-item
				+blue-circle-text('assets/images/service-info-3.png').
					Срок оформления лицензии МЧС - <b class='bold'>2 месяца</b>, лицензия МЧС действует на территории всей России и бессрочно


