.pages-nav
	display block

	&__link
		margin-x: 15px
		centerContent()
		text-decoration: none
		border-radius: 50%
		font-size: 14px
		color: #232323

		&_active
			margin-x: 5px
			size: 40px
			background: #ffc560

	&__dots
		margin-x: 15px

		&::before
			content: '...'
